#date {
  background-color: #2680eb;
  width: 100%;
}
#date span {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  justify-content: center;
  display: flex;
}
#btn-search button {
  color: #2680eb;
  background-color: #e8f2fd;
  border: none;
}
#search-btn1 button {
  color: #f58e2e;
  background-color: #f1e2d4;
  border: none;
}
#previous-text {
  color: #9ccbff;
  text-transform: capitalize;
  padding: 0 1.5em;
  text-decoration: none;
}
#next-text {
  text-transform: capitalize;
  padding: 0 0.2em;
  text-decoration: none;
}

.timer-container {
  color: #fff;
  width: 100vw;
  height: 100vh;
}
.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
}
.timer div:first-child {
  text-align: center;
}
h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
}
.timer div:last-child {
  border: solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 3em;
  margin-top: 3em;
  text-align: center;
}
.timer div:last-child span {
  font-size: 3em;
}
.noWrap {
  white-space: nowrap;
}
#available {
  background-color: #e8f2fd;
}
#unavailable {
  background-color: #f1e2d4;
}
