#reset-password-btn button {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 190px;
}
.password-toggle-icon {
  position: absolute;
  top: 8px;
  right: 25px;
  z-index: 1000;
  cursor: pointer;
}
